@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="row mb-4">  
        <form class="form-inline" method="post">
            <div class="form-group mb-2 mr-2">
                <input type="text"  class="form-control" placeholder="Korisnicko ime"  asp-for="Username">
            </div>
            <div class="form-group  mb-2 mr-2">
                <input type="password" class="form-control"  placeholder="Sifra" asp-for="Password">
            </div>
            <button type="submit" class="btn btn-primary mb-2" asp-page-handler="korisnik">Ulogujte se</button>
            <div class="text-danger">@Model.ErrorMessageKorisnik</div>
        </form>
    </div>
    <div class="row">
        <div class="col-4 pt-1" >
            <h2 class="mb-2">Provera rezultata testa</h2>
            <form method="post">
                <div class="form-group mb-2">
                    <label>Broj zdravstvene knjižice:</label>
                    <input type="number" class="form-control" value="" asp-for="BrojKnjizice">
                    <input type="hidden" asp-for="@Model.IzabraniDan" value="@Model.IzabraniDan" />
                </div>
                <button type="submit" class="btn btn-primary mb-2" asp-page-handler="pacijent">Prikazi</button>
            </form>
            @if (Model.Pacijent.Godine != -1)
            {
                <div>
                    @if (Model.Pacijent.BrojKnjizice == 0)
                    {
                        <div class="text-danger">Ne postoji pacijent sa ovom knjizicom</div>
                    }
                    else
                    {
                        <div class="text-black-50">Rezultat vaseg testa odradjenog na dan @Model.Pacijent.TestTimestamp.ToString("yyyy-MM-dd")
                        je @Model.pozitivanTest(Model.Pacijent.Pozitivan).</div>
                    }
                </div>
            }
        </div>
        <div class="row col-7 offset-1 pt-1" style="border:1px solid gainsboro;">
            <h2 class="text-center mb-2">Statistika za dan: @Model.IzabraniDan.ToString("yyyy-MM-dd")</h2>

            <form method="post">
                <div class="form-group mb-2">
                    <label>Izaberite dan za koji zelite da prikazete statistiku:</label>
                    <input type="date" class="form-control" asp-for="IzabraniDan" />
                </div>
                <button type="submit" class="btn btn-primary mb-2" asp-page-handler="statistika">Prikazi</button>
            </form>
            @if (Model.Statistika.Dan.Equals(new Cassandra.LocalDate(1960, 1, 1)))
            {
                <h4 class="mb-4">Nažalost, ne postoji statistika za izabrani dan</h4>
            } 
            else
            {
                <div style="font-size:20px;">
                    <label class="col-12" style="font-weight:bold">Mere:</label>
                    <label class="col-12">@Model.Statistika.Danasnje_mere</label>
                    <label class="col-12" style="font-weight:bold">Broj pregledanih:</label>
                    <label class="col-12">@Model.izracunajInt(Model.Statistika.BrojPregledanih)</label>
                    <label class="col-12" style="font-weight:bold">Broj testiranih:</label>
                    <label class="col-12">@Model.izracunajInt(Model.Statistika.BrojTestiranih)</label>
                    <label class="col-12" style="font-weight:bold">Broj pozitivnih:</label>
                    <label class="col-12">@Model.izracunajInt(Model.Statistika.BrojPozitivnih)</label>
                </div> 
            }
        </div>
    </div>

